#---------------------------------------------------------------------
# Top level requirements
#---------------------------------------------------------------------
Pillow==9.3.0
numpy==1.21
pytest
torch==1.12.1
torchvision==0.13.1
scikit-image
scikit-learn==0.24.2
#---------------------------------------------------------------------
# Dependencies
#---------------------------------------------------------------------
opencv-python==4.5.5.64
